.search-panel {
  margin: 1rem 0;
}

.search-panel .search-input {
  width: auto;
  flex-grow: 1;
  margin-right: 3px;
}

@media(max-width: 767px) {
  .search-panel .btn-group {
    padding-right: 2px;
    padding-top: 10px;
  }
}

